.group{
    background-color:aqua;
    font-size: large;
}
.agree{
    color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.disagree{
    color:blueviolet;
    font-family: cursive;
}

